
[submodule "acfr_ros2_interfaces"]
	path = acfr_ros2_interfaces
	url = https://github.com/acfr/acfr_ros2_interfaces.git
[submodule "ros2_template_pkg/extern/googletest"]
	path = ros2_template_pkg/extern/googletest
	url = https://github.com/google/googletest
